.board {
  display: grid;
  max-width: 334px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.board button {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border: none;
}
