.timer {
  display: flex;
  /* background-color: #fff; */
  justify-content: flex-end;
  align-items: center;
  /* margin: 16px 0; */
}

.timer h3 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: 0;
}
