.scores {
  display: flex;
  flex-direction: column;
  /* background-color: #fff; */
  /* flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 16px 0; */
}

.scores h3 {
  font-size: 1rem;
  color: #fff;
  /* text-align: center;
  margin: 0; */
}
.scores p {
  font-size: 1rem;
  color: #fff;
  /* text-align: center;
  margin: 0; */
}
