#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

div.board span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
